* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
  border-collapse: separate;
  border-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none
}

::selection {
  background: #222222;
  opacity: 1.0;
  color: #FBFBFB;
  padding: 10px;
  /* Safari */
}

@font-face {
  font-family: 'alte_haas_grotesk_regular';
  src: url('media/fonts/alte_haas_grotesk_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alte_haas_grotesk_bold';
  src: url('media/fonts/alte_haas_grotesk_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'input_mono_regular';
  src: url('media/fonts/input_mono_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'input_mono_medium';
  src: url('media/fonts/input_mono_medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  background: #FBFBFB;
}

body {
  background: #FBFBFB;
  color: #222222;
  font-family: "alte_haas_grotesk_regular", "Helvetica Neue", Helvetica, Arial;
  overflow-x: hidden;
  margin-top: 5px;
  padding: 45px 90px;
}

body hr {
  border: 0;
  clear: both;
}

body header a#logo {
  margin-top: -15px;
  display: block;
  width: 75px;
  margin-bottom: 15px;
}

body header a#logo img {
  width: 300%;
}

body main img.capsule {
  width: 150px;
}

body main img.medium {
  max-width: 300px;
}

body main>* {
  max-width: 600px;
  margin-bottom: 15px
}

body main>h1 {
  font-family: "alte_haas_grotesk_regular", "Helvetica Neue", Helvetica, Arial;
  font-size: 45px;
}

body main>h2 {
  font-family: "alte_haas_grotesk_bold",
    "Helvetica Neue", Helvetica, Arial;
  font-size: 30px;
  margin-top: 45px;
}

body main>img {
  max-width: 600px
}

body main>ul {
  font-family: 'input_mono_regular';
  font-size: 14px;
  line-height: 20px
}

body main>ul li a {
  text-decoration: underline;
}

body main>ul li b {
  font-weight: bold
}

body main>ul li:hover a {
  text-decoration: none;
}

body main>p {
  line-height: 28px;
  font-size: 18px;
}

body main>p a {
  text-decoration: underline;
}

body main>p b {
  font-weight: bold
}

body main>p i {
  font-style: italic;
  line-height: 28px;
  font-size: 18px;
}

body main>code {
  font-family: 'input_mono_regular';
  font-size: 12px;
  margin-bottom: 30px;
  display: block;
  background: #FBFBFB;
  color: #222222;
  padding: 15px;
  white-space: pre
}

body main>code comment {
  color: #777;
}

body main>p.quote {
  padding: 30px;
  font-size: 20px;
  font-style: italic;
  max-width: 400px
}

body main>ul.jump {
  columns: 2;
  line-height: 20px
}

body main>ul.jump li {
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
  text-transform: capitalize;
}

body main>ul.jump li::marker {
  color: #777;
}

body main>ul.jump li:hover {
  background: #222222;
  color: #FBFBFB;
}

body main a.button {
  font-family: "alte_haas_grotesk_bold", "Helvetica Neue", Helvetica, Arial;
  background-color: #222222;
  border: none;
  color: #FBFBFB;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

body main a.button:hover {
  background-color: #727272 !important;
  border: none;
  color: #FBFBFB;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

body main ul.gallery {
  background: none;
}

body main ul.gallery li {
  clear: both;
  display: block;
  border-bottom: 2px solid #222222;
  height: 170px;
  margin-top: -2px;
}

body main ul.gallery li:last-child {
  border-bottom: 0px;
}

body main ul.gallery li a {
  display: block;
  padding: 10px;
}

body main ul.gallery li img {
  width: 150px;
  float: left;
  display: block;
  margin-right: 15px;
}

body main ul.gallery li h3 {
  font-family: "alte_haas_grotesk_regular", "Helvetica Neue", Helvetica, Arial;
  font-size: 30px;
  text-transform: capitalize;
  line-height: 40px;
  max-width: 75%;
  margin-bottom: 10px;
}

body main ul.gallery li h4 {
  font-family: "alte_haas_grotesk_bold", "Helvetica Neue", Helvetica, Arial;
  font-size: 20px;
  text-transform: capitalize;
}

body footer {
  border-top: 1.5px solid #222222;
  padding-top: 30px;
  margin-bottom: 120px;
  max-width: 600px
}

body footer p {
  font-weight: bold
}

body footer p a {
  text-decoration: underline;
}

body footer img {
  max-height: 30px;
  max-width: 30px;
  margin-right: 10px;
}

img.thumbnail {
  border-radius: 3px;
  max-width: calc(100% - 20px);
  margin-bottom: 10px;
}

b {
  font-weight: bold
}

a {
  text-decoration: underline;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

body main p sub {
  font-size: 14px;
  font-style: italic;
}

@media (max-width: 900px) {
  body {
    padding: 15px;
  }

  body main>p {
    font-size: 1rem;
  }

  body main>ul.jump {
    columns: 1 !important
  }
}


/* Timeline container */
.timeline {
  position: relative;
  margin: 2rem 0;
  padding-left: 2rem;
  border-left: 2px solid #ccc;
}

.timeline-item {
  position: relative;
  margin-bottom: 3rem;
  padding-left: 1rem;

  display: grid;
  grid-template-columns: 200px 900px;
  column-gap: 2rem;
}


/* Dot */
.timeline-item::before {
  top: 0.6rem;
}

/* Date */
.timeline-item .date {
  font-size: 0.85rem;
  color: #777;
}

/* Title */
.timeline-item h3 {
  margin: 0.2rem 0;
  font-size: 1rem;
}

/* Timeline content with icon */
.timeline-content {
  max-width: 45ch;
}

.timeline-item img {
  width: 120px;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}

@media (max-width: 768px) {

  /* Allow logo container to grow */
  body header a#logo {
    width: auto;
    max-width: 300px;
  }

  /* Scale logo nicely */
  body header a#logo img {
    width: 100%;
    max-width: 260px;
    /* tweak to taste */
    height: auto;
  }

  /* Reduce page padding */
  body {
    padding: 20px;
  }

  /* Timeline: stack image above text */
  .timeline-item {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  /* Make image large but contained */
  .timeline-item img {
    width: 100%;
    max-width: 360px;
  }

  /* Allow text to use full width */
  .timeline-content {
    max-width: none;
  }

  /* Slightly smaller headings */
  body main>h1 {
    font-size: 32px;
  }

  body main>h2 {
    font-size: 24px;
  }

  body main>p {
    font-size: 16px;
    line-height: 24px;
  }

  /* Make images responsive on mobile */
  body main img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  /* Optional: slightly smaller than full width */
  body.about main img {
    max-width: 80%;
    margin: 15px auto;
    display: block;
  }
}